.background {
  background: rgb(61,76,107);
background: linear-gradient(74deg, rgba(61,76,107,1) 0%, rgba(70,127,102,1) 56%, rgba(81,189,95,1) 98%);
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
}
