#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0px;
}

::-webkit-scrollbar {
  background-color: #26324a;
  width: 8px;
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border: none;
  border-radius: 0.2rem;
  width: 8px;
}
